  <%= form_for @guest do |f| %>
    <div class="row">
          <div class="large-9 columns">
              <%= f.label :name %>
              <%= f.text_field :name %>
          </div>
    </div>

    <div class="row">
          <div class="large-9 columns">
            <%= f.label :title %>
            <%= f.text_field  :title %>
        </div>
    </div>
    <div class="row">
          <div class="large-9 columns">
            <%= f.label :title %>
            <%= f.text_field  :title %>
        </div>
    </div>
    <div class="row">
          <div class="large-9 columns">
            <%= f.label :title %>
            <%= f.text_field  :title %>
        </div>
    </div>




    <%= f.submit t('.save'), class: 'round button' %>
<% end %>
