<h1><%= Guest.model_name.human(count: 2) %></h1>

<% if @guests.empty? %>

    <p>No guests found.</p>
<% else %>
<table>
    <thead>
    <tr>
        <th>
            <%= Guest.human_attribute_name(:name) %>
        </th>
        <th>
            <%= t '.date_header' %>
        </th>
        <th>
            <%= t 'index_actions' %>
        </th>
    </tr>
    </thead>

    <tbody>
    <% @guests.each do |guest| %>

    <tr>
        <td>
            <%= link_to guest.name, event_path(event) %>
        </td>

        <td>
            <%= l guest.start_at, format: :short %>
            -
            <%= l guest.end_at, format: :short %>
        </td>
        <td>
            <% if policy(guest).edit? %>
                <%= link_to t('.edit'), edit_guest_path(event) %><br>
            <% end %>
            <% if policy(guest).destroy? %>
                <%= link_to "Delete", guest_path(event), {method: :delete, class: 'small', confirm: 'Are you sure?'} %>
            <% end %>
        </td>
    </tr>

    <% end %>
    </tbody>
</table>
<% end %>

<% if policy(Guest).new? %>
    <%= link_to t(".new_guest"), new_guest_path, class: 'small radius button' %>
<% end %>
