<%= form_for @task do |f| %>
    <div class="row">
        <div class="large-8 columns">
            <%= f.label :name %>
            <%= f.text_field :title %>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <%= f.label :description %>
            <%= f.text_area  :description %>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <%= f.label :Event %>
            <%= f.text_area :event_id %>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <%= f.label :User %>
            <%= f.text_area :user_id %>
        </div>
    </div>

    <%= f.submit t('.save'), class: 'round button' %>
<% end %>
