<%= form_for @invitation do |f| %>
    <% @invitation.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

<form>
  <fieldset>
    <legend>Add Person at Event</legend>

    <div class="row">
      <div class="large-8 columns">
         <%= f.label :Event %>
         <%= f.collection_select :person_id, Person.all, :id, :name %>
      </div>
    </div>

    <div class="row">
      <div class="large-8 columns">
         <%= f.label :Event %>
         <%= f.collection_select :event_id, Event.all, :id, :name %>
      </div>
    </div>

  </fieldset>
</form>


    <%= f.submit t('.save'), class: 'round button' %>

<% end %>
