<h1><%= Invitation.model_name.human(count: 2) %></h1>

<% if @invitations.empty? %>

    <p>No invitations found.</p>
<% else %>
<table>
    <thead>
    <tr>
        <th>
            <%= Person.human_attribute_name(:name) %>
        </th>
        <th>
            <%= t 'title' %>
        </th>
        <th>
            <%= t 'category' %>
        </th>
        <th>
            <%= t 'Delivered at' %>
        </th>

        <th>
            <%= t 'Received at' %>
        </th>
        <th>
            <%= t 'Invite ' %>
        </th>
        <th>
            <%= t 'index_actions' %>
        </th>
    </tr>
    </thead>

    <tbody>
    <% @invitations.each do |invitation| %>

    <tr>
        <td>
            <%= link_to invitation.person.name, person_path(invitation.person) %>
        </td>

        <td>
            <%= invitation.person.name %>
        </td>

        <td>
            <%= invitation.person.title %>
        </td>

        <td>

        </td>

        <td>

        </td>
        <td>
            <%= invitation.attend %>
        </td>

        <td>
           <%= link_to t('.edit'), edit_person_path(invitation.person) %><br>
           <%= link_to "Delete", person_path(invitation.person), {method: :delete, class: 'small', confirm: 'Are you sure?'} %>
        </td>
   </tr>

    <% end %>
    </tbody>
</table>
<% end %>

    <%= link_to t(".new_invitation"), new_invitation_path, class: 'small radius button' %>

