<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "EvenTool" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag params[:controller] if Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <%= stylesheet_link_tag "#{params[:controller]}_#{params[:action]}"  if Rails.application.assets.find_asset("#{params[:controller]}_#{params[:action]}.css") %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash[:alert] %>
      <div class="alert-box radius" data-alert>
          <%= flash[:alert] %>
          <a class="close" href>x</a>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert-box success radius" data-alert>
          <%= flash[:notice] %>
          <a class="close" href>x</a>
      </div>
    <% end %>

  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link"><span></span></a>
    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="">EvenTool</a>
        <ul>
            <li class="divider"></li>
            <li class="<%= current_page?(events_path) ? "active" : "" %>">
                <%= link_to Event.model_name.human(count: 2), events_path %>
            </li>

            <li class="divider"></li>

            <li>
            <%= link_to Invitation.model_name.human(count: 2), invitations_path %>
            </li>

            <li class="divider"></li>

            <li>
                <%= link_to Person.model_name.human(count: 2), people_path %>
            </li>

            <li class="divider"></li>

            <li>
                <%= link_to Task.model_name.human(count: 2), tasks_path %>
            </li>

            <li class="divider"></li>
        </ul>
      </div>
      <% if current_user %>
         <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
         <li><%= link_to "Log in", new_user_session_path %></li>
         <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </div>

    <div id="main">

      <%= yield %>

    </div>

  </div>
  <div class="footer">
  </div>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] if Rails.application.assets.find_asset("#{params[:controller]}.js") %>
  <%= javascript_include_tag "#{params[:controller]}_#{params[:action]}"  if Rails.application.assets.find_asset("#{params[:controller]}_#{params[:action]}.js") %>
  </body>
</html>
